<div id="main">
  <p class="center"><strong>Cappy’s Email Specials</strong><br />
  Register FREE for email updates!<br />
  Required fields are bold...<br /></p>

  <p class="center">You'll be informed about sales, upcoming tastings and other store events.<br />
  Signing up is easy. Don't miss out!</p>

  <p class="center">When you are finished click on the "Subcribe" Button.</p>
</div>