<div id="main">
  <div id="left">
    <p><strong>Cappy’s Warehouse Wine & Spirits</strong><br />
    285 East Merrick Road<br />
    Valley Stream, NY 11580</p>
  
    <p>Telephone: (516) 256-0444<br />
    Fax: (516) 256-0579<br />
    Email: <a href="mailto:cappys.warehouse@gmail.com" class="blue_link">cappys.warehouse@gmail.com</a></p>

    <p>Regular Hours<br />
    Mon. – Thurs.  9am to 8pm<br />
    Fri. & Sat. 9am to 9pm<br />
    Sun. 12pm to 5pm</p>
  </div>
  
  <div id="right">
    <div id='map'></div>
  </div>
</div>