<div id="main">
  <div id="left">
    <p><strong>Mailers</strong></p>
    <p>Mailer 1</p>
    <p>Mailer 2</p>
    <p>Mailer 3</p>
  </div>
  <div id="right">
    <p><strong>Other</strong></p>
    <p>Other 1</p>
    <p>Other 2</p>
  </div>
</div>